*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}
/*
header{
    background-color: rgb(28, 128, 216);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

.cabeca{
    background-color: rgb(28, 128, 216);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #fff;
}

header nav a{
    margin-right: 1.2em;
}


.box{
    align-items: center;
    height: 80px;
    border: solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: rgb(28, 128, 216);

}

.videobox{
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

.textodescri{
    margin-top: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.video-item{
    width: 30%;
    height: auto;  
    padding-top: 15px; 
}

.titulo{
    color: #000000;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    font-family: "Montserrat", sans-serif;
  
    
}

.video{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    background-color: rgb(28, 128, 216);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgsenai{
    width: 100px;
    height: auto;
}

.img{
    width: 450px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
}







/* Ajuste de responsividade */

@media (max-width: 768px){
    .boximg{
    flex: 48%;
    }
}

@media (max-width: 768px){
    .boximg{
    flex: 100%;
    }
.titulo{
    font-size: 30px;
}    
}